/* Posicionamento do Footer na Parte Inferior da Tela */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Estilização dos LINK do Cadastro */
#format_link_cadastro{
    margin-top: 10px;
}

#format_link_cadastro span{
    font-size: 17px;
    font-weight: bold;
}

.format_table{
    margin-bottom: 20px;
}